<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="background">
        <div class="tiyuguang"></div>
        <div class="jidianlou"></div>
        <div class="xingonglou"></div>
        <div class="baoanlou"></div>
        <div class="jiushitang"></div>
        <div class="zhihuakejilou"></div>
        <div class="QicheDianziyuTiedaoZhuangbeiYanjiusuo"></div>
        <div class="jiangonglou"></div>
        <div class="yishitang"></div>
        <div class="yinyueting"></div>
        <div class="liuqishitang"></div>
        <div class="huiyuanlou"></div>
        <div class="kuaidizhan"></div>
        <div class="xiaoyiyuan"></div>
        <div class="waijinglou"></div>
        <div class="yishulou"></div>
        <div class="wenfalou"></div>
        <div class="youyongguanheyumaoqiuguan"></div>
        <div class="xuegonglou"></div>
        <div class="xiuxxianyundongchang"></div>
        <div class="tianjianyundongc"></div>
        <div class="baifangyundongchang"></div>
        <div class="sanshitang"></div>
        <div class="jichushiyandalou"></div>
        <div class="lishenglou"></div>
        <div class="wenfalou"></div>
        <div class="wenfalou"></div>
    </div>
</body>
</html>